#skillsId {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
}

.skilltitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    color: yellow;
}

.skilldescr {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    color: rgb(248, 243, 243);
}

.skillBar {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.skillBar > img {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.skillbardesc {
    color: white;
}

.skillbardesc > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
    margin-bottom: 0.5rem;
}

.skillbardesc > p {
    font-size: 0.9rem;
    font-weight: 200;
    color: rgb(248, 243, 243);
    line-height: 1.5;
}

.uiimge, .pythonimge, .tetimge {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

@media screen and (max-width: 720px) {
    .skillbardesc > p {
        font-size: 2vw;
    }
    .skillBar {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .skillbardesc > p {
        font-size: 3vw;
    }
    .skillbardesc > h2 {
        font-size: 5vw;
    }
    .skillBar > img {
        height: 3rem;
        width: 3rem;
    }
}





