.navbar{
    height:5rem;
    width:100vw;
    max-width: 75rem;
    margin:0 auto;
    padding:1rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 3;
    background: rgb(3, 0, 0);
    backdrop-filter: blur(10px);
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    margin-top:15px;
    
}
.desktopmenuitem{
    cursor: pointer;
    margin: 1rem;
    margin-top:15px;
    color: white;
}
.desktopmenuitem:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;

}
.desktopMenuButton{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:5px;
    border-radius: 2rem;
    margin-top:15px;
}
.icon{
    object-fit: cover;
    height:1rem;
    width:1rem;
    margin:1rem
    
}
